.footer {
  position: relative;
 background-color: #E9DED4;
}

.footer__line {
  display: flex;
  align-items:center;
  background-color: $special_red;
  text-transform: uppercase;
  height: 38px;
  margin-bottom: 40px;
}


.footer__text {
  @include GolosText--400;
  font-size: 16px;
  margin-left: $padding-mobile;
  margin-right: $padding-mobile;

  line-height: 19px;
  letter-spacing: 0px;

  @media (min-width: $desktop-width){
    margin-left: $margin-desktop;
    margin-right: $margin-desktop;
  }

  @media (min-width: $desktop-width-big){
    margin-left: $margin-desktop-big;
    margin-right: $margin-desktop-big;
  }

}