
.page-header {
  position: relative;
  background:
              url('../../img/Chess.png') 26% 0% no-repeat,
              rgb(232, 221, 211, 0.6),
;
  &::after {
    position: absolute;
    content: "";
    background:
    url('../../img/header-mask.png') repeat;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
  }

  @media (min-width: $mobile-size) and (max-width: $tablet-width-only){
    padding: 18px $padding-mobile;
    height: 812px;

  }

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only){
    background-position: 10%;
  }

  @media (min-width: $desktop-width){
    padding: 18px $margin-desktop 0;
    height: 750px;
    background:
    url('../../img/bg-desc.png') 26% 0% no-repeat,
    // rgb(232, 221, 211),
;
    // background-image: url('../../img/bg-copy.jpg');

    // background-size:contain;
    background-size: auto;
    background-position: 50% -4px;


    margin-bottom: 80px;
    // height: 812px;
    // margin: 0 -$margin-desktop;
    // padding: 0 $margin-desktop;
    // padding-top: 26px;
    // padding-left: 72px;
  }

  @media (min-width: $desktop-width-big){
    padding-left: $margin-desktop-big;
    padding-right: $margin-desktop-big;
  }


  // &::before {
  //   content: '';
  //   width: 100%;
  //   height: 750px;
  //   left: 0;
  //   top: 10px;
  //   position: absolute;
  //   background-image: url('../../img/header-mask.png');
  //   background-repeat: repeat;
  //   background-position:center;
  //   background-size:cover;
  //   opacity: 0.1;
  //  }
}
.page-header__logo {
  display: block;
  margin-bottom: 30px;

  @media (min-width: $desktop-width){
    margin-bottom: 52px;
  }
}
// .header__title {
//   @media (min-width: $mobile-size) and (max-width: $desktop-width){
//     margin: 40px;


//   }
// }

.header__content {
  // position: relative;
  display: block;
  // margin: 0 auto;
  // margin-top: 90px;
  @media (min-width: $desktop-width){
    width: 542px;
  }
}

.header__title {
  @include Merriweather--400;
  font-size: 36px;
  text-transform: uppercase;

  display: block;
  line-height: 39.6px;
  font-weight: 400;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;

  @media (min-width: $desktop-width){
    font-size: 60px;
    line-height: 66px;

  }


  .header__title--top {
    display: block;
    width: 100%;
    text-align: left;
  }

  .header__title--down {
    display: block;
    width: 100%;
    text-align: center;
  }
}

.header__text {
  @include GolosText--500;
  line-height: 130%;
   margin-top: 24px;

   font-size: 18px;
   line-height: 23px;
   letter-spacing: 0px;

   .br--desctop {
    display: none;
   }
   @media (min-width: $desktop-width){
    text-align: center;

    margin-bottom: 40px;
    .br--mobile {
      display: none;
    }
   }
}

.header__nav {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
    margin-top: 32px;
    // margin-left: auto;
    // margin-right: auto;

    @media (min-width: $desktop-width){
      flex-direction: row;
      width: 542;
      justify-content: space-between;
    }
}

.header__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 335px;
  height: 47px;

  @media (min-width: $desktop-width){
    width: 263px;
    height: 72px;
    padding: 20px 49px;
  }
}

.header__button:last-child {
  margin-top: 14px;

  @media (min-width: $desktop-width){
    margin-top: 0;
  }
}


.header__line {
    position:absolute;
    bottom:0;
    left: 0;
    margin-bottom: 0;

}

