.gallery {
  user-select: none;
}

.gallery-line {
  touch-action: none;
}

.gallery-slide {
}

.navigation__button--right {
  background-color: #D9D9D9;
}

.navigation__button--right {
  background-color: #D9D9D9;

}

.slider__toggle {
  background-color:#D9D9D9;
  cursor: pointer;
  // padding: 5px;
}


.slider__toggle--current {
  background-color: $special_dark-grey2;

}
