
.button--white {
  position: relative;
  color: $basic_dark-grey;
  background-color: $basic_white;

  @media (min-width: $desktop-width){
    background-color: inherit;
    border: solid 2px $basic_dark-grey;
  }
}

.button--grey {
  position: relative;
  color: $basic_white;
  background-color: $basic_dark-grey;
}

.page-main {
  margin-top: 48px;
  padding: 0 $padding-mobile;

  @media (min-width: $desktop-width){
    margin-top: 65px;
    padding: 0 $margin-desktop;
  }

  @media (min-width: $desktop-width-big){
    padding: 0 $margin-desktop-big;
  }
}


.span-right {
  display: block;
  text-align: right;
}
.span-center {
  text-align: center;
}
.span--crossed {
  text-decoration: line-through $special_red;
  margin-right: 4px;
}

.text--blue {
  @include GolosText--400;

  font-size: 18px;
  color: $special_blue;

  @media (min-width: $desktop-width){
    font-size: 20px;
  }
}

.display-none {
  display: none;
}

.span__red {
  color: $special_red;
  font-weight: 700;
}

@media (min-width: $desktop-width){
  .br--mobile {
    display: none;
  }
  .br--desc {
    display: block;
  }
}
.br--desc {
  display: none;
}
