.players {
  margin-bottom: 86px;

  @media (min-width: $desktop-width){
    position: relative;
    margin-bottom: 93px;
  }
}

.players__title {

  @include Merriweather--400;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;

  @media (min-width: $desktop-width){
    font-family: Merriweather;
    font-weight: 400;
    line-height: 65px;
    font-size: 54px;
    margin-bottom: 62px;

  }
}

.players__list {
  @include margin-center;
  width: 335px;
  overflow: hidden;
  @media (min-width: $desktop-width){
    width: 1200px;
  }

  @media (min-width: $desktop-width-medium){
    width: 1200px;
  }
}

.player__list--wrapper {
  display: flex;
  min-width: 5170px;

  height: 388px;

  transform: translateX(0px);
  margin-bottom: 27px;

  @media (min-width: $desktop-width){
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 44px;

    height: 462px;
  }
}

.players__item {
  @include GolosText--500;
  width: 335px;
  height: 100%;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0px;
  margin-right: 20px;

  @media (min-width: $desktop-width){
    padding-left: 37px;
    padding-right: 37px;
    width: 394px;
  }
}

.players__author-image {
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
  width: 244px;
  height: 244px;

  @media (min-width: $desktop-width-medium){
    margin-bottom: 28px;
    margin: 0;
    width: 320px;
    height: 320px;
  }
}

.reviews__author-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: $desktop-width){
    margin-top: 24px;
  }
}


.player__author-name {
  font-size: 24px;
  font-weight: bold;
  font-style: none;
  margin-bottom: 10px;
}

.player__text {
  @include GolosText--400;
  display: block;
  width: 100%;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}


.players {
  .stages__nav {
    @media (min-width: $desktop-width){
      display: flex;
      position: absolute;
      right: 0;
      top: -3px;
    }
  }
}

.player__button {
  font-size: 16px;
  min-width: 113px;
  height: 35px;
  background-color: $basic_white;
  border: solid 1px $special_blue;
  margin: 0 auto;
  color: $special_blue;

  &:hover {
    color: $basic_white;
    background-color: $special_blue;
  }
}

.player__toggles {
  margin-left: 20px;
  margin-right: 20px;
}