.players {
  margin-bottom: 90px;

  @media (min-width: $desktop-width){
    position: relative;
    margin-bottom: 123px;
    // padding-left: $margin-desktop;
    // padding-right: $margin-desktop;

  }
}

.players__title {

  @include Merriweather--400;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 18px;

  @media (min-width: $desktop-width){
    font-family: Merriweather;
    font-weight: 400;
    line-height: 65px;
    font-size: 54px;
    margin-bottom: 30px;

  }


}

.players__list {
  // margin: 0 20px;
  overflow: hidden;

  @media (min-width: $desktop-width){
    width: 1200px;
    // margin: 0 $margin-desktop;

  }
}

.player__list--wrapper {
  display: flex;
  width: 2170px;
  height: 388px;
  margin: 0 -20px;

  transform: translateX(0px);
  margin-bottom: 44px;

  @media (min-width: $desktop-width){
    margin-left: -$margin-desktop;
    // margin-right: -$margin-desktop;
    margin-left: 0;
    margin-right: 0;

    height: 462px;
  }
}

.players__item {
  @include GolosText--500;
  width: 335px;
  height: 100%;
  // align-items:center;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0px;
  margin-right: 20px;
  // padding-top: 10px;

  @media (min-width: $desktop-width){
    margin-right: 48px;
    // height: 350px;
    // margin-left: 40px;
  }
}

.players__author-image {
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
  width: 244px;
  height: 244px;

  @media (min-width: $desktop-width){
    margin-bottom: 28px;
    margin: 0;
    width: 320px;
    height: 320px;
  }
}

.reviews__author-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // font-family: Golos Text;
  // font-family: Golos Text;

  // line-height: 24px;
  // letter-spacing: 0px;
  // text-align: left;

// text-align: left;
  @media (min-width: $desktop-width){
    margin-top: 32px;
  }
}


.player__author-name {
  // font-weight: 500;
  font-size: 24px;
  font-weight: bold;
  font-style: none;
  margin-bottom: 10px;
}

.player__text {
  // font-size: 20px;
  // transform: translateX(10px);
  display: block;
  width: 100%;
  // font-size: 16px;
  // text-align: center;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 400;

  margin-bottom: 14px;
}


.players {
  .stages__nav {
    @media (min-width: $desktop-width){
      display: flex;
      position: absolute;
      left: 1061px;
      top: -3px;
    }
  }
}

.player__button {
  font-size: 16px;
  min-width: 113px;
  height: 35px;
  background-color: $basic_white;
  border: solid 1px $special_blue;
  margin: 0 auto;
  color: $special_blue;
}

.player__toggles {
  margin-left: 20px;
  margin-right: 20px;
}