@font-face {
  font-family: "Merriweather"; /* Имя шрифта */
  font-weight: 400;
  font-style: normal;

  src: url("../fonts/Merriweather-Regular.woff2") format("woff2"),
  // url("../fonts/oswaldregular.woff") format("woff");
 }

 @font-face {
  font-family: "Merriweather-bold"; /* Имя шрифта */
  font-weight: 400;
  font-style: normal;

  src: url("../fonts/Merriweather-Bold.woff2") format("woff2"),
  // url("../fonts/oswaldregular.woff") format("woff");
 }

 @font-face {
  font-family: "GolosText"; /* Имя шрифта */
  font-weight: 500;
  font-style: normal;

  src: url("../fonts/GolosText-Medium.woff2") format("woff2"),
  // url("../fonts/oswaldmedium.woff") format("woff");
 }

 @font-face {
  font-family: "GolosTex-Regular"; /* Имя шрифта */
  font-weight: 400;
  font-style: normal;

  src: url("../fonts/GolosText-Regular.woff2") format("woff2"),
  // url("../fonts/oswaldmedium.woff") format("woff");
 }