.footer {
  position: relative;
 background-color: #E9DED4;
 padding-bottom: 60px;
}

.footer__line {
  display: flex;
  align-items:center;
  background-color: $special_red;
  height: 38px;
  margin-bottom: 40px;
}

.footer__line__wrapper {
  min-width: 1727px;
  overflow: hidden;
}

.footer__line__list {

  display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-content: center;
  flex-wrap: nowrap;

  // width: 100%;
  // height: 38px;

  margin-top: auto;
  margin-bottom: 40px;
  // margin-left: -$padding-mobile;
  // margin-right: -$padding-mobile;

  // text-align: center;

  @include Merriweather--400;
  font-size: 16px;
  color: $basic_white;
}



.footer__line__list {
  margin: 0;
  margin-left: 24px;
  margin-right: 24px;
  list-style:disc;

  width: 100%;
}
.list__item-red-line {
  padding-right: 24px;
}

.footer__text {
  @include GolosText--500;
  font-size: 16px;
  margin-left: $padding-mobile;
  margin-right: $padding-mobile;
}