.support {
  line-height: 135%;
  font-size: 28px;

  margin-bottom: 120px;
}

.lecture__title, .multiplayer__title {
  margin: 0;
  padding: 0;
  @include Merriweather--400;
  font-size: 28px;
  text-transform: uppercase;
  // margin-bottom: 24px;
  font-family: Merriweather;
  letter-spacing: 2px;
  line-height: 38px;

}

.multiplayer__title {
  margin-bottom: 44px;
}


.support__img {
  display: flex;
  justify-content: center;
  align-content:center;
  margin-left: -$padding-mobile;
  margin-right: -$padding-mobile;
  margin-bottom: 24px;
}

.span__red {
  color: $special_red;
}

.lecture__img {
  margin-top: 24px;

}
.multiplayer__img {
  margin-top: 34px;
}




.multiplayer__info--list {
  @include GolosText--400;
  @include reset-list;

}

.multiplayer__info--item {
  display: flex;
  // flex-direction: column;
  flex-wrap: wrap;
  justify-content:space-between;
  // align-content:space-around;

  border-bottom: solid $special_grey 1px;
  margin-bottom: 16px;
  margin-top: 16px;
  &:last-child{
    border-bottom: none;
  }
}

.info-list__item-category {
  @include GolosText--400;

  font-family: GolosTex-Regular;
font-size: 20px;
font-weight: 400;
line-height: 24px;

  text-align: center;
  display: flex;
  align-items: center;

  margin-bottom: 12px;
  margin-right: 12px;
}

.info-list__item-value {
  @include GolosText--500;
  font-size: 20px;
  font-weight: 700;

  text-align: end;
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
}

